@using Entities.TableModel
@model User


<form asp-controller="User" asp-action="Add" method="post">
    <div class="form-group">
        <label>Ad</label>
        <input type="text" name="Name" class="form-control" />
    </div>
    <br />
    <br />
    <br />

    <button type="submit" class="btn btn-primary">Yadda Saxla</button>
</form>
